.ok {

    font-weight: 700;
    font-size: 45px;
    margin: 10px;
    margin-bottom: 30px;

}


input {
    width: 100%;


}

.itemsContainer {
    text-align: left;
}

.kgRow {

    margin: 10px 5px;

}


.kgbutton {

    min-width: 80px;
    margin-left: 80px;


}