

.navbar
{
    background-color: pink;
    display: flex;
    justify-content: space-evenly;

}


a {
    text-decoration: none;
    color: black;
    background-color: aqua;
    
}

li {
    list-style-type:none;
    display: inline-block;
}

#one {
    background-color: brown;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;     
     /* ye colum ke lye */


    }

#two {
    width: 100px;
    height: 100px;
    background-color: aqua;

}