/* h1 {
    background-color: aqua;
    color: azure;
    display: flex;
    justify-content: center;
    align-self: center;
}

p {
    background-color: red;
    color: blue;
}

button {
    background-color: orange;
}

button:hover{
    background-color: white;
}

.o {
    background-color: blue;
    color: aqua;
    text-decoration: none;
} */











/* #ok {

    height: 250px;
    width: 250px;
    background-color: aqua;
    border: 1px solid black;
    margin: 5px;

}

.class {
    color: aqua;
}


.newclass {
    background-color: rebeccapurple;
} */







/* ////////////////////////////light and dark  screen on window///////////////////////////////*/



/* div {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: flex;
    margin-top: 10px;
    background-color: burlywood;
} */


/* .dark {

    background-color: black;
    color: white;
}

.light {

    background-color: white;
    color: black;
} */










/* ////////////////////////////tic tak to game///////////////////////////////*/




/* 
* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color:palegoldenrod ;
    text-align: center;
    margin-top: 13px;
}

.game {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box:hover{

    background-color:lightyellow

}

.container {
    margin-top: 8px;
    
}

.box {
    height: 70px;
    width: 70px;
    border-radius: 20%;
    margin: 5px;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 46px;
    text-align: center;
    color: red;
    background-color:white
}

#restbtn {
    margin-top: 22px;
    background-color:black;
    color: white;
    border-radius: 1rem;
    height: 34px;
    width: 90px;

}

.msgc {
    margin-bottom:15px ;
    height: 50px;
}


#msg {
    color: #ffffc7;
    font-size: 8vmin;

}
  

.hide {
    display: none;
} */















/* ///////////////////////////////////ROCK PAPER SICCOR/////////////////////////////////// */



/* * {
    margin: 0px;
    padding: 0px;
    text-align: center;
}



h1 {

    height: 80px;
    background-color:#081b31;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.ok{


    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    gap: 4rem;
    
}


.gg {

    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: none;

}


.box1{

   
    background-image: url("paper.png");
    background-size: cover;
    
    

}


.box2{

    background-image: url("rock.png");
    background-size: cover;
    
    
}


.box3{
    
    background-image: url("scissors.png");
    background-size: cover;
    
}

.scoreB{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}


#you{
    
    font-size: 4rem;
}


#computer{
        
    font-size: 4rem;
}

.msgC{
    margin-top: 50px;

}

#msg {

    font-size: 2rem;
    color: #fff;
    background-color: #081b31;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
} */











/*/////////////////////////////////CURRENCY CONVERTER///////////////////////////////////////  */




* {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4e4ba;
}


.container {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 53vh;
}


form {
    margin: 2rem 0 2rem 0;
}


form select,button,input {

    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}



.dropdown {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    
}

.selectContainer img{
    max-width: 2rem;
}


.selectContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
}



.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.selectContainer select {

    font-size: 1rem;
    width: auto;
}


.msg {

    margin: 2rem 0 2rem 0;

}


form button {

    height: 3rem;
    background-color: #af4d98;
    color: white;
    font-size: 1rem;
    cursor: pointer;

}